.container {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 15px;
  .avatar {
    background-color: var(--grey-800);
    border-radius: 10px;
    padding: 15px;
  }
  .profile {
    padding: 15px 20px;
    background-color: var(--grey-800);
    border-radius: 10px;
    .header {
      position: relative;
      display: flex;
      flex-direction: column;
      .name {
        font-size: 19px;
        color: white;
      }
      .status {
        color: var(--grey-400);
        font-size: 13px;
      }
      .network {
        position: absolute;
        top: 0px;
        right: 0px;
        color: var(--grey-400);
      }
    }
  }
}
